{block content}
	<div id="acount">
		<h1 n:block="title">Nový účet</h1>
		<p>Vložte informace o novém účtu. Po úspěšném vytvoření účtu Vám bude nabídnuto vytvoření dalšího účtu.</p> 
		<a n:href="Acount:" title="Zrušit" class="buttonCancel">Odejít</a><br />
		{control acountForm}
		
	</div>	
{/block}