<html>
<head>
	<meta charset="utf-8">
	<title>Počáteční hesla</title>
	<style>
		table { border:2px solid black; border-collapse: collapse;}
		td { padding-right: 5px; padding-left: 5px; border: 1px solid silver;}
		pre { letter-spacing: 1.2px;}
	</style>
</head>

<body>
<h1>Počáteční hesla uživatelů</h1>

<p><strong>Tento dokument obsahuje počáteční hesla k účtům. Mějte na paměti, že jeho neoprávněné užití může vážně ohrozit bezpečnost celé aplikace.</strong></p>

<p>Počáteční heslo slouží k přihlášení do systému nebo obnovení ztraceného hesla. Na velikosti písmen záleží.</p>

<p n:ifset="$message">{$message}</p>

<table>
	<thead>
		<tr>
			<th>Jméno</th><th>Ročník</th><th>Uživatelské jméno</th><th>Počáteční heslo</th>
		</tr>
	</thead>
	<tbody>
		{foreach $acounts as $a}
			<tr><td>{$a['name']}</td><td>{$a['gradeName']}</td><td><pre>{$a['username']}</pre></td><td><pre>{$a['initialPassword']}</pre></td></tr>
		{/foreach}
	</tbody>
</table>

</body>
</html>